.container {
    margin-top: 75px;
}

.logo {
    font-family: 'Comfortaa', cursive;
    font-size: 26px;
}

.addFavorite {
    cursor: pointer;
}

.searchButton {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}